<h4 class="jot-tweets-header"><a href="http://twitter.com/{{ item.account | e }}">@{{ item.account | e }}</a></h4>

<ul class="jot-tweets">
  {# Tweets are JSONP-'d here by the widget player in twitter.js, which #}
  {# clones the template tweet below as needed, removing the jot-template class #}
  <li class="jot-tweet jot-template"><span class="jot-tweet-date"></span><span class="jot-tweet-text"></span></li>
  {# In the main content editor we shouldn't modify the DOM dynamically with JS players, #}
  {# so just show some placeholder tweets. #}
  {% if options.editView %}
    <li class="jot-tweet"><span class="jot-tweet-date">1/1</span><span class="jot-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="jot-tweet"><span class="jot-tweet-date">1/1</span><span class="jot-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="jot-tweet"><span class="jot-tweet-date">1/1</span><span class="jot-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="jot-tweet"><span class="jot-tweet-date">1/1</span><span class="jot-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="jot-tweet"><span class="jot-tweet-date">1/1</span><span class="jot-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
  {% endif %}
</ul>
