{% extends "baseWidgetEditor.html" %}

{% block widgetVars %}
  {% set widgetClass = 'apos-twitter-editor' %}
{% endblock %}

{% block title %}
  Select Twitter Feed
{% endblock %}

{% block instructions %}
  <!-- Type a Twitter account name. -->
{% endblock %}

{% block formBody %}
<fieldset class="apos-fieldset apos-fieldset-text">
	<label>Twitter Username</label>
  <input class="apos-twitter-account" />
</fieldset>
<fieldset class="apos-fieldset apos-fieldset-text">
  <label>Filter Tweets by Hashtag</label>
  <input class="apos-twitter-hashtag" />
 </fieldset>
{% endblock %}
