<h4 class="apos-tweets-header"><a href="http://twitter.com/{{ item.account | e }}">@{{ item.account | e }}</a></h4>

<ul class="apos-tweets">
  {# Tweets are magicked here by the widget player in content.js, which #}
  {# clones the template tweet below as needed, removing the apos-template class #}
  <li class="apos-tweet apos-template">
    <ul data-apos-tweet-images></ul>
    <span class="apos-tweet-profile">
      <span class="apos-tweet-profile-image"></span>
      <span class="apos-tweet-date"></span>
    </span>
    <span class="apos-tweet-text"></span>
  </li>
  {# In the main content editor we shouldn't modify the DOM dynamically with JS players, #}
  {# so just show some placeholder tweets. #}
  {% if options.editView %}
    <li class="apos-tweet"><span class="apos-tweet-date">1/1</span><span class="apos-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="apos-tweet"><span class="apos-tweet-date">1/1</span><span class="apos-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="apos-tweet"><span class="apos-tweet-date">1/1</span><span class="apos-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="apos-tweet"><span class="apos-tweet-date">1/1</span><span class="apos-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
    <li class="apos-tweet"><span class="apos-tweet-date">1/1</span><span class="apos-tweet-text">This is what a typical tweet will look like as it approaches 140 characters of text, which is the very longest allowable length for a tweet.</span></li>
  {% endif %}
</ul>
